@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@700&display=swap');

body {
  width: 100%;
}

.navbg {
  background-color: #3e3c3c;
}

ul li a {
  text-decoration: none;
}

#navbarText {
  padding: 10px;
}

.nav-link {
  text-decoration: none;
}

.bg-color {
  background-color: #1c1a19;
}

.header-container {
  width: 100%;
  height: 870px;
  background-image: url("./images/header-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.ul-container {
  width: 80px;
  height: 100%;
  padding-top: 50px;
}

.post-img {
  background-image: url('./images/img-placeholder-1.png');
  background-size: cover;
}

.margin-left {
  margin-left: 10px;
}

.list-style {
  list-style: none;
}

.main-div {
  padding-top: 300px;
}

.desc-div {
  width: 100px;
  height: 100px;
  margin-left: 40px;
}

.ul-container > ul > li {
  list-style: none;
}

.desc-div > h1 {
  color: #f55800;
}

.heading-title {
  font-family: 'Crete Round', sans-serif;
}

.margin-top {
  padding-top: 60px;
}

.btn-style {
  background-color: #f55800;
  border: none;
}

.media-card-1 {
  width: 369px;
  height: 435px;
  background-image: url("./images/media-card-img-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-btn {
  width: 369px;
  padding: 10px;
  background-color: #f55800;
  border: none;
  margin-bottom: 0;
}

.media-card-2 {
  width: 369px;
  height: 435px;
  background-image: url("./images/media-card-img-2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.card > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

.card > h3 {
  width: 250px;
}

.card-item-color {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.24);
}

.media-card-3 {
  width: 369px;
  height: 435px;
  background-image: url("./images/media-card-img-3.png");
  background-repeat: no-repeat;
  background-position: center;
}

.media-card-4 {
  width: 369px;
  height: 435px;
  background-image: url("./images/img-placeholder-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.media-card-5 {
  width: 369px;
  height: 435px;
  background-image: url("./images/media-card-img-2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.media-card-6 {
  width: 369px;
  height: 435px;
  background-image: url("./images/media-card-img-3.png");
  background-repeat: no-repeat;
  background-position: center;
}

.about-container {
  width: 100%;
  height: 1000px;
  background-color: #262626;
}

.about-wrapper {
  width: 93%;
  height: 582px;
  margin-left: 100px;
  padding-top: 100px;
  background-image: url('./images/about-bg-image.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
}

.about-wrapper > h2 {
  font-family: 'Crete Round', sans-serif;
  color: #f55800;
}

.about-wrapper > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  width: 400px;
  height: 80px;
}

.about-btn {
  background-color: #f55800;
  color: white;
  padding: 3px;
  margin: 0;
  border: none;
}

.form-btn {
  background-color: #f55800;
  color: white;
  padding: 5px;
  margin: 0;
  border: none;
}

input {
  width: 684px;
  height: 48px;
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea {
  width: 684px;
  height: 114px;
}

.footer-icons > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-icons > ul > li {
  list-style: none;
}
